* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #a6f3f7;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 30px;
    max-width: 400px;
    font-size: 90%;
    text-align: center;
}

.container strong {
    line-height: 20px;
}

.rating_container {
    display: flex;
    margin: 20px 0;
}

.rating {
    flex: 1;
    cursor: pointer;
    padding: 20px;
    margin: 10px 5px;
}

.rating img {
    width: 50px;

}

.rating small {
    color: #555;
    display: inline-block;
    margin: 10px 0 0;
}

.rating:hover,
.rating:active {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.btn{
    background: #89bbfd;
    color: #fff;
    border: none;
    padding: 12px 30px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 700;
}

.img_complete{
    width: 30px;
    margin-bottom: 10px;
}