*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    margin: 25px 0 15px 0;
    font-size: 40px;
    letter-spacing: 2px;
}
.images_container{
    margin: 10px 20%;
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
}

.images_container img{
    width: 100%;
    margin-top: 5px;
}

@media screen and (max-width: 600px) {
    h1{
        font-size: 20px;
    }
    .images_container{
        margin: 10px;
    }
}